@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

.App {
  text-align: center;
}

.App-header {
  font-family: 'Playfair Display', serif;
  text-align: center;
  background-color: #131331;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FF404E;
}